<!doctype html>
<html>
<head>
	<title>Health Everywhere</title>
</head>
<body>
	<header>
		<div class="row">
			<div class="col-sm-4">
				<img src="{{static '/public/logo.svg'}}" alt="Advensys Solutions Logo">
			</div>
		</div>
	</header>
	{{{body}}}
</body>
</html>